
.logoHeader {
    max-height: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    min-height: 5%;
    height: 90px

}

/* override bootstrap navbar colors */
.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#E20029 0,#EC1C24 100%) !important; /* override background image gradient w/ flat color */
}


/* Color of the navbar menu options */
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

/* Color of navbar brand, hackharvard. */
.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-header{
    max-width: 10%;
    padding-right: 2% !important
}

.sticky{
    z-index: 100;
    padding-left:  0px !important;
    padding-right: 0px !important;
}

.container{
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    margin-left: 0px;
}
